*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px dashed #a7aec9;
  background: #e0e4f2;
  color: #3c3e48;
}


.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 750px;
  margin: 32px auto;
}